html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#contact {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-image: url("../img/dynamic-wang-1636631-unsplash\ .jpg");
  background-position: center;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 80%;
  /* background: rgba(56, 56, 56, 0.466); */
  border-radius: 10px;
  font-family: 'PT Sans', sans-serif;
}

.titre {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
  color: yellow;
}

.name {
  margin-bottom: 20px;
}

.mail {
  margin-bottom: 20px;
}

.comments {
  margin-bottom: 20px;
}

.mail input {
  color: white;
  border-radius: 5px;
  background: rgba(56, 56, 56, 0.466);
  border-color: rgba(56, 56, 56, 0.466);
  padding-left: 5px;
  width: 500px;
  height: 30px;
}

.comments textarea {
  color: white;
  border-radius: 5px;
  background: rgba(56, 56, 56, 0.466);
  border-color: rgba(56, 56, 56, 0.466);
  padding-left: 5px;
  width: 500px;
  height: 200px;
}

.name input {
  color: white;
  border-radius: 5px;
  background: rgba(56, 56, 56, 0.466);
  border-color: rgba(56, 56, 56, 0.466);
  padding-left: 5px;
  width: 500px;
  height: 30px;
}

.bouton button {
  font-size: 20px;
  color: yellow;
  border-radius: 5px;
  background: rgba(56, 56, 56);
  border-color: rgba(56, 56, 56, 0.466);
  width: 150px;
  height: 30px;
  text-align: center;
}

.bouton>* {
  transition: 0.2s;
}

.bouton>*:hover {
  transform: scale(1.02);
}

@media (max-width:855px) {
  #contact {
    background: rgba(29, 29, 29, 1);
  }

  .container {
    height: auto;
    width: 100%;
  }
}

@media (max-width:500px) {
  .titre {
    font-size: 20px;
  }

  .mail input {
    font-size: 15px;
    width: 90%;
  }

  .name input {
    font-size: 15px;
    width: 90%;
  }

  .comments textarea {
    font-size: 15px;
    width: 90%;
  }

  .bouton button {
    font-size: 17px;
    width: 100px;
    height: 30px;
    outline: none;
  }
}