html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'PT Sans', sans-serif;
    overflow-x: hidden;

}

body::-webkit-scrollbar {
    width: 5px;
    background: black;

}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px black;
}

body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to right top, #ffda00, #fccb01, #f7bc05, #f1ae0c, #eba012);
    outline: 1px solid slategrey;
}

/* ----------------------------------HOME---------------------------------- */
.home_page {
    display: flex;
    flex-direction: column;
    background-image: url("../img/anomaly-602404-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

header {
    width: 100%;
    position: fixed;
    z-index: 20;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    transition: 0.4s ease-out;

}

nav.scroll {
    background: rgba(29, 29, 29, 1);
}


.logo a {
    color: yellow;
    font-size: 20px;
    font-family: 'Poiret One', cursive;
    font-size: 30px;
}

.container_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 15px;
}

.nav_item {
    padding: 30px;
    transition: 0.2s;
    border-top: 2px solid transparent;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    cursor: pointer;
}


a {
    text-decoration: unset;
    color: white;
}

header a:hover {
    color: yellow;
}

header .nav_item:hover a {
    color: yellow;
    transition: 0.4s;
    transform: scale(1.5);
}

.nav_item:hover {
    padding: 30px;
    padding: 30px 40px;
    border-top: 2px solid white;
    background: rgba(255, 255, 255, 0.15);
    flex-grow: 2;
}

.middle_home {
    height: 85vh;
    margin-top: 15vh;
}

.container_middle_home {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}

.container_middle_home_left {
    color: white;
    font-size: 30px;
    margin: 20px;
    background: #00000060;
    border-radius: 5px;
    padding: 7px;
}

.name {
    display: flex;
    flex-direction: row;
}

.item {
    margin-left: 10px;
    color: darkslategray;
    background: rgba(152, 148, 148, 0.877);
    padding: 4px;
    font-family: 'Poiret One', cursive;
    border-radius: 7px;
    font-size: 35px;
    font-weight: bold;

}

.container_middle_home_right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container_middle_home_right>* {
    transition: 0.2s;
}

.container_middle_home_right>*:hover {
    transform: scale(1.4);
}

.middle_home a {
    border-radius: 50%;
    border: 0.7px solid white;
    margin: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle_home .icon1 a:hover {
    background: rgb(60, 90, 153);
}

.middle_home .icon2 a:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.middle_home .icon3 a:hover {
    background: rgb(212, 70, 56);
}

.middle_home .icon4 a:hover {
    background: rgb(0, 119, 181);

}

.middle_home .icon5 a:hover {
    background: rgba(252, 113, 0);

}

/* ----------------------------------ABOUT---------------------------------- */

.about_page {
    background-image: url("../img/cesar-couto-420981-unsplash.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.container_about {
    display: flex;
    flex-direction: column;
    padding-top: 15vh;
}

.about_top_content {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    height: 200px;
}

.head_about {
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    align-items: center;
}

.title_about {
    width: 50%;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.cv {
    margin-left: 30%;
}

.download {
    width: 150px;
    height: 40px;
    background-image: linear-gradient(to right top, #ffda00, #fccb01, #f7bc05, #f1ae0c, #eba012);
    border-radius: 7px;
    font-size: 13px;
}

.download a {
    justify-content: center;
    color: black;
    text-decoration: unset;
    height: 100%;
    align-items: center;
    display: flex;
}

.cv>* {
    transition: 0.2s;
}

.cv>*:hover {
    transform: scale(1.03);
}

.about_presentation {
    font-size: 20px;
    width: 75%;
    height: 80px;
    border-radius: 5px;
    padding-left: 6px;
}

.about_middle_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.photo {
    background-image: url("../img/profil.jpg");
    background-position: center;
    background-size: cover;
    -webkit-border-radius: 50px;
    -moz-border-radius: 240px;
    border-radius: 240px;
    width: 250px;
    height: 250px;
}

.details {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.box {
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: flex-end;
    font-size: 20px;
}

.about_page .item1 {
    width: 50%;
}

.about_page .item2 {
    width: 100%;
}

line {
    width: 100%;
    border: 1px solid black;
}

/* ----------------------------------SKILLS---------------------------------- */

.skill_page {
    height: 100vh;
    background: rgba(29, 29, 29, 1);

}

.container_skill {
    display: flex;
    flex-direction: column;
    padding-top: 15vh;
}

.top_skill {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    width: 35%;
    height: 20%;
    transition: 3s;
}

.top_skill h2 {
    color: yellow;
    font-size: 20px;
    height: 40px;
}


.skill_presentation {
    color: white;
    font-size: 20px;
}

.middle_skill {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
}

.left_skill {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.right_skill {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.skills-text {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    color: white;
}

.skills-list {
    overflow: hidden;
    position: relative;
    z-index: 10;
}

.skill-name:after {
    background-color: #4b4844;
    content: '';
    display: block;
    height: 10px;
    position: relative;
    top: 3px;
    width: 100%;
    border-radius: 2px;
}

.skill-percent {
    font-size: 0;
    height: 10px;
    position: relative;
    top: -7px;
    transition: 3s;
    width: 0;
    margin-left: 0;
    background-image: linear-gradient(to right top, #ffda00, #fccb01, #f7bc05, #f1ae0c, #eba012);


}

.skill-percent::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background-image: linear-gradient(to right top, #ffda00, #fccb01, #f7bc05, #f1ae0c, #eba012);
    border-radius: 50%;
    top: -4px;
    right: -5px;
}

/* ----------------------------------FORMATION---------------------------------- */

.formation_page {
    background-image: url("../img/cesar-couto-420981-unsplash.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;

}

.container_formation {
    display: flex;
    flex-direction: row;
    padding-top: 15vh;
    height: 85vh;
}

.left_formation {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    width: 40%;
    transition: 3s;
}

.left_formation h2 {
    color: black;
    font-size: 20px;
}


.formation_presentation {
    font-size: 20px;
    text-align: center;
}

.right_formation {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    width: 100%;
}

.bloc {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 250px;
}

.bloc .left_bloc {
    width: 50px;
    margin-right: 40px;
}

.icon {
    text-align: center;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: #fdee00;
    box-shadow: 0 0 4px rgb(163, 163, 163);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 15px;
}



/* burger */

#menuToggle {
    all: unset!important;
    cursor: pointer;
    display: none!important;
    z-index: 10!important;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
    box-shadow: 0 0 2px #00000030;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

#menu {
    padding-top: 200px;
    position: absolute;
    display: none;
    list-style-type: none;
    background: rgba(29, 29, 29, 0.97);
    width: 100vw;
    transition: 0.2s;
    transform: translateX(-100%);
}
#menu li {
    padding-top:20px;
    padding: 10px 0;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Poiret One', cursive;
}


/* ----------------------------------EXPERIENCE---------------------------------- */
.experience_page {
    height: 100vh;
    /* background: #232323; */
    background: rgb(29, 29, 29);
}

.container_experience {
    display: flex;
    flex-direction: column;
    padding-top: 15vh;
}

.top_experience {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    width: 50%;
}

.top_experience h2 {
    color: yellow;
    font-size: 20px;
}


.experience_presentation {
    color: white;
    font-size: 20px;
    border-radius: 7px;
    padding-left: 6px;
}

.content_experience {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 2px;
    height: 150px;
    margin: 1rem;
    position: relative;
    width: 83%;
}

/* .card:hover {
    transition: 0.5s;
    background-image: url("../img/cesar-couto-420981-unsplash.jpg");
    background-position: center;
    background-size: cover;

} */

.card-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.50), 0 1px 2px rgba(0, 0, 0, 0.50);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    background-image: url("../img/cesar-couto-420981-unsplash.jpg");
    background-position: center;
    background-size: cover;
}

.card-1:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: 0.5s;
    /* background-image: url("../img/cesar-couto-420981-unsplash.jpg");
    background-position: center;
    background-size: cover; */
}

.left_card {
    padding-left: 20px;
    margin-left: 25px;
    width: 50%;
    font-size: 20px;
}

.right_card {
    padding-left: 20px;
    width: 50%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.left_card h3 {
    color: yellow;
}

.date {
    color: yellow;
    width: 100%;
    font-size: 22px;
    font-weight: bold;
    height: 50px;
}

/* .card-2 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.50), 0 1px 2px rgba(0, 0, 0, 0.50);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
} */

/* .card-2:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: 0.5s;
    background-image: url("../img/cesar-couto-420981-unsplash.jpg");
    background-position: center;
    background-size: cover;
} */


/* ---------------Footer---------------- */

.container_foot {
    display: flex;
    flex-direction: column;
    background: rgb(29, 29, 29);
    height: auto;
    border-top: 1px solid rgb(22, 22, 22);
}

.top_footer {
    display: flex;
    flex-wrap: wrap;
    height: 250px;
    justify-content: space-around;
}

.top_footer .text {
    width: 30%;
    color: rgb(156, 152, 152);


    width: 30%;
}

.top_footer h2 {
    color: yellow;
}

.links {
    display: flex;
    flex-direction: column;
}

.links h2 {
    color: yellow;
}

.links a {
    /* color: #4b4844; */
    color: #99958d;

}

.links a:hover {
    color: white;
}

.bottom_foot {
    border-top: 1.5px solid rgb(22, 22, 22);
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.social {
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-evenly;
}

.social>* {
    transition: 0.4s;
}


.social>*:hover {
    transform: scale(1.05);
}

.copyright {
    color: rgb(156, 152, 152);
}

.social_icon1 {
    text-align: center;
    background: rgb(92, 91, 91);
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.social_icon a {
    color: rgb(206, 206, 206);
}

.social_icon a:hover {
    color: white;
}

.social_icon1:hover {
    background: rgb(60, 90, 153);
}

.social_icon2 {
    text-align: center;
    background: rgb(92, 91, 91);
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.social_icon a {
    color: rgb(206, 206, 206);
}

.social_icon a:hover {
    color: white;
}

.social_icon2:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.social_icon3 {
    text-align: center;
    background: rgb(92, 91, 91);
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.social_icon a {
    color: rgb(206, 206, 206);
}

.social_icon a:hover {
    color: white;
}

.social_icon3:hover {
    background: rgb(0, 119, 181);
}

.social_icon4 {
    text-align: center;
    background: rgb(92, 91, 91);
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.social_icon a {
    color: rgb(206, 206, 206);
}

.social_icon a:hover {
    color: white;
}

.social_icon4:hover {
    background: rgb(212, 70, 56);
}

/* -------------Bouton Contact---------------- */
.contact {
    width: 150px;
    height: 40px;
    background-image: linear-gradient(to right top, #ffda00, #fccb01, #f7bc05, #f1ae0c, #eba012);
    border-radius: 7px;
}

.contact a {
    justify-content: center;
    color: black;
    text-decoration: unset;
    height: 100%;
    align-items: center;
    display: flex;
}

.contact_bouton>* {
    transition: 0.2s;
}

.contact_bouton>*:hover {
    transform: scale(1.03);
}