@media (max-width:940px) {

    .body {
        width: 80%;
        margin: 0;
        padding: 0;
    }

    body::-webkit-scrollbar {
        display: none;
    }

    body::-webkit-scrollbar-track {
        display: none;

    }

    body::-webkit-scrollbar-thumb {
        display: none;

    }
    nav.scroll {
        background: rgba(29, 29, 29, 1);
    }


    .container_menu {
        display: none;
    }

    .logo {
        display: none;
    }

    .middle_home_right {
        display: flex;
        flex-direction: column;
    }

    #menuToggle {
        display: block!important;
    }

    #menu {
        display: block;
    }

    #menu li {
        font-size: 13px;
    }

    .title_about {
        width: 100%;
    }

    .message,
    .name,
    .current,
    .item {
        font-size: 20px;
    }

    .container_about {
        padding-top: 5vh;
    }

    .title_about,
    .about_presentation {
        font-size: 15px;
    }

}


















@media (max-width:768px) {
    body::-webkit-scrollbar {
        display: none;
    }

    body::-webkit-scrollbar-track {
        display: none;

    }

    body::-webkit-scrollbar-thumb {
        display: none;

    }


    .container_menu {
        display: none;
    }

    .about_page {
        height: 130vh;
    }

    .title_about {
        width: 100%;
    }

    .about_middle_content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .photo {
        width: 200px;
        height: 200px;
        margin-bottom: 50px;
    }

    .box {
        display: flex;
        flex-direction: row;
        height: 40px;
        align-items: flex-end;
        font-size: 15px;
    }

    .container_middle_home {
        display: flex;
        flex-wrap: wrap;
    }

    .details {
        width: 80%;
    }

    .middle_skill {
        width: 100%;
    }

    .skill_presentation {
        font-size: 13px;
    }

    .skill-name {
        font-size: 13px;
    }

    .skill-name:after {
        height: 7px;
    }

    .skill-percent::before {
        width: 12px;
        height: 12px;
        top: -2.5px;
    }

    .skill-percent {
        height: 7px;
        top: -4px;
    }

    .container_formation {
        flex-direction: column;
        padding-top: 5vh;
    }

    .formation_presentation {
        font-size: 13px;
    }

    .right_formation{
        justify-content: space-around;
    }
    .bloc{
        height: 80px;
        font-size:13px;
        margin-top:10px;
    }
    .bloc .left_bloc{
        margin-right: 20px;
    }
    .icon{
        font-size:13px;
        height: 35px;
        width: 35px;
    }
    


    .links {
        font-size: 13px;
    }

    .copyright {
        font-size: 13px;
    }

    .container_experience{
        padding-top:10vh;
    }
    .top_experience{
        padding-left: 60px;
    }
    .experience_presentation{
        font-size:14px;
    }
    .left_card{
        font-size:14px;
    }
    .right_card{
        font-size:14px;
    }



    .top_footer .text {
        width: 40%;
        font-size: 13px;
    }
    .copyright{
        width:100px;
        font-size: 13px;
    }

    .social{
        width:25%;
    }
    .social_icon1,
    .social_icon2,
    .social_icon3,
    .social_icon4 {
        height: 30px;
        width: 30px;
    }
    

}













@media (min-width:280px) and (max-width:500px) {
    .home_page {
        /*background-image: url("../img/dynamic-wang-1636631-unsplash .jpg");*/

    }

    body::-webkit-scrollbar {
        display: none;
    }

    body::-webkit-scrollbar-track {
        display: none;

    }

    body::-webkit-scrollbar-thumb {
        display: none;

    }

    .container_middle_home_right {
        display: flex;
        flex-direction: row;
    }

    .container_middle_home_left {
        margin-top: 110px;
        /*background: unset;*/
    }
.message{
text-align: center;
}
    .name{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .current{
        text-align: center;
    }

    .item {
        font-size: 25px;
        text-align: center;
        margin-left: 0px;
    }

    .photo {
        margin-top: 80px;
        margin-bottom: 20px;
    }

    .cv {
        margin-left: 0;
    }

    .title_about {
        width: 100%;
    }

    .top_skill h2 {
        font-size: 15px;
    }

    .top_skill {
        width: 100%;
        padding-left: 0px;
        align-items: center;
    }

    .skill_presentation {
        text-align: center;
    }

    .left_formation{
        padding-left:10px;
        width:80%;
    }
    .container_formation {
        flex-direction: column;
        padding-top: 5vh;
    }

    .formation_presentation {
        font-size: 12px;
        text-align: start;
        width:100%;
    }

    .right_formation{
        margin-left:10px;
    }
    .bloc{
        height: 70px;
        font-size:13px;
        margin-top:5px;
    }
    .text{
        width:100%;
        font-size: 12px;
    }
    .bloc .left_bloc{
        margin-right: 10px;
    }

    .icon{
        font-size:11px;
        height: 30px;
        width: 30px;
    }

    .experience_page{
        height:80vh;
    }
    .container_experience{
        padding-top:10vh;
    }
    .top_experience{
        padding-left: 22px;
        width:80%;
    }
    .experience_presentation{
        font-size:12px;
    }
    .left_card{
        font-size:12px;
        padding-left: 5px;
        margin-left:5px;
    }
    .left_card h3{
        font-size: 15px;
    }
    
    .right_card .date{
        display: flex;
        align-items: center;
        font-size: 15px;
    }
    .right_card{
        font-size:12px;
    }

    .top_footer .text {
        width: 50%;
        font-size: 12px;
    }
    .top_footer .links{
        font-size:12px;
    }
    .copyright{
        width:30%;
        font-size:11px;
    }
    .social{
        width:40%;
    }


    .social_icon1,
    .social_icon2,
    .social_icon3,
    .social_icon4 {
        height: 25px;
        width: 25px;
    }

    .contact{
        width:100px;
        height:30px;
        font-size:12px;
    }


}