html,
body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    padding: 0;
    overflow-x: hidden;
}

#login {
    display: flex;
    background-image: url("../img/dynamic-wang-1636631-unsplash\ .jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 40%;
    justify-content: center;
    align-items: center;
    background: rgba(56, 56, 56, 0.664);
    border-radius: 5px;
}

.titre {
    color: yellow;
    font-size: 30px;
    height: 50px;
}

.item {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}

.box {
    font-size: 30px;
    width: 50px;
    background: rgba(56, 56, 56, 0.932);
    color: rgba(131, 131, 131, 0.295);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.zone input {
    height: 48px;
    background: rgba(56, 56, 56, 0.466);
    border-style: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    padding-left: 5px;
}
input:focus{
    outline:1px solid yellow;
}

button {
    width: 100%;
    height: 48px;
    border-style: none;
    font-size: 20px;
    border-radius: 5px;
    background: yellow;
    outline: none;
}

.bouton>* {
    transition: 0.2s;
}

.bouton>*:hover {
    transform: scale(1.01);
}

@media (max-width:600px) {
    #login {
        display: flex;
        background-image: none;
        background: rgba(24, 24, 24, 0.973);
        height: 100vh;
    }
    .container {
        height: 60%;
        width:90%;
    }

}